<h1>@user.username</h1>

<% if @user == current_user %>
  <% goals = @user.goals %>
<% else %>
  <% goals = @user.public_goals %>
<% end %>

<% goals.each do |goal| %>
  <%= link_to goal.body, goal_url(goal) %><br>
<% end %>

<% @user.comments.each do |comment| %>
  <%= comment.body %>
  <br>
  <%= "by #{comment.author.username}" %>
  <% if comment.author == current_user %>
    <form action="<%= comment_url(comment) %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <%= auth_token %>
      <button>Delete</button>
    </form>
  <% end %>
  <br>
<% end %>

<form action="<%=user_comments_url(@user)%>" method="post">
  <%= auth_token %>
  <label>Comment
    <textarea name="comment[body]" rows="8" cols="40"></textarea>
  </label>
  <br>
  <button>Leave Comment</button>
</form>
